<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is the Index page</h2>
    <form method="post" action = "/weather">
        <label for="zipcode">Zipcode:</label>
        <br>
        <input type="text" id="zipcode" name="zipcodeInput">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>